resources
.DS_Store
Cargo.lock
target

results
a.out
classpath.txt

sudachi-dictionary-20210802
sudachi-dictionary-20210802-core.zip
ipadic-mecab-2_7_0
unidic-cwj-3_1_1
unidic-cwj-3_1_1+compact-dual
ipadic-mecab-2_7_0.tar.xz
unidic-cwj-3_1_1.tar.xz
unidic-cwj-3_1_1+compact-dual.tar.xz
unidic-cwj-3.1.1

japanese.model
japanese_pos.model
korean.model
korean_pos.model
chinese.model
chinese_pos.model
japanese_two_stage.model
korean_two_stage.model
chinese_two_stage.model

lindera-ipadic
lindera-ipadic-*.zip
lindera-unidic
lindera-unidic-*.zip
lindera-cc-cedict
lindera-cc-cedict-*.zip
lindera-jieba
lindera-jieba-*.zip
lindera-ko-dic
lindera-ko-dic-*.zip
