resources
.DS_Store
Cargo.lock
target

results
a.out

sudachi-dictionary-20210802
sudachi-dictionary-20210802-core.zip
ipadic-mecab-2_7_0
unidic-cwj-3_1_1
unidic-cwj-3_1_1+compact
unidic-cwj-3_1_1+compact-dual
ipadic-mecab-2_7_0.tar.xz
unidic-cwj-3_1_1.tar.xz
unidic-cwj-3_1_1+compact.tar.xz
unidic-cwj-3_1_1+compact-dual.tar.xz
unidic-cwj-3.1.1
